<div class="max-w-2xl mx-auto mt-6 faq-element">
  <div class="w-full border-b-2 cursor-pointer border-grey-300">
    <div class="flex flex-row justify-between text-grey-900">
      <p class="my-3 font-sans text-lg font-medium text-md text-grey-900">
        {{.Params.frage }}
      </p>
      <img
        src='{{"img/plus.svg" | absURL }}'
        class="w-3 ml-3 toggle-icon"
      /><img
        src='{{"img/minus.svg" | absURL }}'
        class="hidden w-3 ml-3 toggle-icon"
      />
    </div>
    <p class="hidden mb-4 opacity-75 faq-content text-grey-900">
      {{.Params.antwort}}
    </p>
  </div>
</div>
