<script>
  $(".hamburger").on("click", function (e) {
    $(".hamburger").toggleClass("is-active"); //you can list several class names
    $("nav").toggleClass("is-active bg-pg-green-900"); //you can list several class names
    //$('.nav-links').toggleClass("hidden"); //you can list several class names
    $(".nav-links").toggleClass("hidden");
    $(".navbar-main").toggleClass("bg-gradient-to-b");
    e.preventDefault();
  });

  $(".faq-element").click(function () {
    $(this).find(".toggle-icon").toggleClass("hidden");
    $(this).find(".faq-content").toggleClass("hidden");
  });
</script>
<script>
  (function ($) {
    // Begin jQuery
    $(function () {
      // DOM ready
      // If a link has a dropdown, add sub menu toggle.
      $("nav ul li a:not(:only-child)").click(function (e) {
        $(this).siblings(".nav-dropdown").toggle();
        // Close one dropdown when selecting another
        $(".nav-dropdown").not($(this).siblings()).hide();
        e.stopPropagation();
      });
      // Clicking away from dropdown will remove the dropdown class
      $("html").click(function () {
        $(".nav-dropdown").hide();
      });
      // Toggle open and close nav styles on click
      $("#nav-toggle").click(function () {
        $("nav ul").slideToggle();
      });
      // Hamburger to X toggle
      $("#nav-toggle").on("click", function () {
        this.classList.toggle("active");
      });
    }); // end DOM ready
  })(jQuery); // end jQuery
</script>
{{partial "telephone-banner.html"}}

<!-- Footer Starts -->
<footer class="bottom-0 w-full py-16 mt-12 bg-slate-50">
  <div class="container flex flex-col items-center px-8 mx-auto md:px-0">
    <a class="flex flex-col items-center justify-center" href="/">
      <img
        src="/img/ptbs_logo.svg"
        class="h-8"
        alt="Pflegeteam Braunschweig Logo"
      />
      <h5 class="w-auto mt-3 font-serif italic font-bold">
        Pflegeteam Braunschweig
      </h5>
    </a>
    <div class="flex flex-wrap justify-center gap-6 mt-6">
      {{partial "phone-btn.html" .}} {{partial "mail-btn.html" .}}
    </div>

    <div class="">
      <ul class="flex flex-row justify-center gap-5 mt-6">
        {{ range .Site.Menus.secondary }}
        <a href="{{ .URL }}"><li>{{.Title}}</li></a>
        {{end}}
      </ul>
    </div>
  </div>
</footer>
