<div class="pb-10 lg:pb-0 bg-pg-green-100 lg:bg-hero">
  <div class="w-full h-full from-pg-green-100 lg:visible lg:pb-10 lg:pb-24 bg-gradient-to-b lg:bg-gradient-to-r lg:from-grey-900">
    <nav class="py-8 mb-10">
        <div class="container flex flex-row items-center justify-between h-full px-8 mx-auto md:px-0">
                <a class="flex flex-row items-center" href="/">
                    <img src="/img/ptbs_logo.svg" class="h-8" alt="Pflegeteam Braunschweig Logo">
                    <h5 class="w-24 ml-3 font-serif leading-snug lg:text-white"><span class="italic font-bold lg:text-white">Pflegeteam</span><br><span class="italic font-normal lg:text-white">Braunschweig</span></h5>
                </a>

                <button class="hamburger hamburger--slider" type="button">
                    <span class="hamburger-box">
                      <span class="hamburger-inner"></span>
                    </span>
                  </button>  
        </div>
        <div class="absolute w-full shadow-2xl bg-pg-green-900 filter">
        <div class="container flex flex-row items-center justify-between hidden h-auto px-4 py-16 py-24 mx-auto md:px-0 nav-links ">
          <ul class="w-full font-serif text-2xl italic font-normal text-center">
            <a href=""><li>Start</li></a>
            <a href=""><li>Kontakt</li></a>
            <a href=""><li>Formulare</li></a>
          </ul>
        </div>
      </div>
    </nav>
