<div class="bg-pg-green-100 pb-10">
    <nav class="py-8 mb-10">
        <div class="container mx-auto px-8 md:px-0 flex flex-row items-center h-full justify-between">
                <a class="flex flex-row items-center" href="/">
                    <img src="/img/ptbs_logo.svg" class="h-8" alt="Pflegeteam Braunschweig Logo">
                    <h5 class="w-24 font-serif font-bold italic ml-3">Pflegeteam Braunschweig</h5>
                </a>

                <button class="hamburger hamburger--slider" type="button">
                    <span class="hamburger-box">
                      <span class="hamburger-inner"></span>
                    </span>
                  </button>  
        </div>
        <div class="absolute bg-pg-green-900 w-full filter shadow-2xl">
        <div class="container mx-auto px-4 md:px-0 flex flex-row items-center h-auto py-16 justify-between hidden nav-links py-24 ">
          <ul class="text-2xl text-center w-full font-serif font-normal italic">
            <a href=""><li>Start</li></a>
            <a href=""><li>Kontakt</li></a>
            <a href=""><li>Formulare</li></a>
          </ul>
        </div>
      </div>
    </nav>
