<nav class="bg-gray-100 filter drop-shadow-xl">

    <div class="container mx-auto h-16 flex flex-row items-center justify-between">
        <div class="h-12 w-32 bg-gray-200 rounded-md"></div>

        <div class="flex flex-row items-center">
            <ul class="flex flex-row">
                <a href=""><li>Item</li></a>
                <a><li>Item</li></a>
                <a><li>Item</li></a>
            </ul>

            <div class="h-12 border-2 border-green-700 px-6 rounded-md flex flex-row items-center ml-10">
                <p class="text-xl text-green-700">0531 - 1201774</p>
            </div>
        </div>
    </div>


</nav>