<div
  class="my-12 bg-right-bottom bg-cover bg-marketing_banner_img md:bg-center"
>
  <div
    class="w-full h-full from-white lg:visible lg:pb-10 lg:pb-24 bg-gradient-to-b lg:bg-gradient-to-r"
  >
    <div class="container flex flex-col gap-8 px-8 py-16 mx-auto">
      <div class="max-w-lg text-black">
        <h2>
          Kontaktieren Sie uns noch heute für ausgezeichnete Pflege und
          Unterstützung in Braunschweig
        </h2>
        <p>
          Das Pflegeteam Braunschweig ist die erste Wahl für hochwertige
          ambulante Pflege in Lehndorf, Kanzlerfeld, Ölper, Watenbüttel und
          Völkenrode. Unser Team engagiert sich für eine hervorragende Pflege
          und Betreuung und ist in dringenden Fällen rund um die Uhr für Sie da.
          Entscheiden Sie sich für uns, wenn Sie erstklassige Pflege und
          Betreuung wünschen. Kontaktieren Sie uns noch heute, um mehr zu
          erfahren.
        </p>
      </div>
      <div class="flex flex-row flex-wrap gap-6">
        {{partial "phone-btn.html"}} {{partial "mail-btn.html"}}
      </div>
    </div>
  </div>
</div>
