<div
  class="my-12 bg-right-bottom bg-cover bg-marketing_banner_img md:bg-center"
>
  <div
    class="w-full h-full from-pg-green-100 lg:visible lg:pb-10 lg:pb-24 bg-gradient-to-b lg:bg-gradient-to-r"
  >
    <div class="container flex flex-col gap-8 px-8 py-16 mx-auto">
      <div class="max-w-lg text-white">
        <h2>
          Jetzt Kontaktieren und ihre Liebsten in Braunschweigs beste Pflege
          geben
        </h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid
          minus architecto velit quidem labore laboriosam recusandae
          voluptatibus fuga distinctio aliquam ea tenetur cupiditate dolores
          quos porro, temporibus fugiat a hic? Repellat odio voluptas beatae
          libero doloremque nam ad, molestiae autem ipsum quo vel id ea quaerat
          dolor optio deleniti obcaecati.
        </p>
      </div>
      <div class="flex flex-row flex-wrap gap-6">
        <a href="tel:053130293500"
          ><button
            class="flex items-center justify-between w-full rounded-md lg:w-auto"
          >
            <img
              src='{{"img/phone-3.svg" | absURL }}'
              class="w-6 mr-2 opacity-75"
            />
            <div>
              <p class="font-serif text-xl font-semibold">0531 - 30 29 35 00</p>
              <p class="text-sm">Jetzt kostenlos anrufen</p>
            </div>
            <div class="w-8"></div></button
        ></a>
        <a href="mailto:{{.Site.Params.email}}"
          ><button
            class="flex items-center justify-between w-full rounded-md lg:w-auto mail-btn"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              class="w-6 h-6 mr-2 fill-white/75"
            >
              <path
                d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z"
              />
              <path
                d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z"
              />
            </svg>

            <div>
              <p class="font-serif text-xl font-semibold">
                {{.Site.Params.email}}
              </p>
              <p class="text-sm">Jetzt per E-Mail kontaktieren</p>
            </div>
            <div class="w-8"></div></button
        ></a>
      </div>
    </div>
  </div>
</div>
