<div
  class="container flex flex-col items-center justify-center gap-4 px-8 py-8 mx-auto md:justify-evenly md:flex-row"
>
  <div class="w-full max-w-xs py-4 text-left md:w-auto">
    <h3 class="w-auto p-0 mb-2 text-left max-w-none">
      Unser Pflegegebiet in Braunschweig
    </h3>
    <p>
      Wir bieten unsere Pflegedienste in <b>Lehndorf</b>, <b>Kanzlerfeld</b>,
      <b>Ölper</b>, <b>Watenbüttel</b> und <b>Völkenrode</b> an
    </p>
  </div>
  <img class="max-w-md" src="/img/map-bs-ptbs-2.svg" />
</div>
