<div class="mt-12">


  <div class="container px-8 mx-auto">
    <h3>Über uns</h3>
  </div>

    <div class="flex flex-col md:flex-row md:items-center md:justify-start gap-6 bg-slate-50">
      <div class=""><img src="img/ueber-uns.jpg" class="w-full lg:w-[800px] rounded-r-xl" /></div>

      <div class="container mx-auto">
        <h5 class="mb-1 text-grey-900">Pflege ist bei uns Herzenssache</h5>
        <p class="max-w-2xl opacity-75 text-grey-900">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
          ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
          sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
          et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
          takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
          amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
          kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
          amet.
        </p>
        <div class="">
            <!--
          <img
            src='{{"/img/unterschrift.png" | absURL }}'
            alt="Unterschriften"
            class="max-w-[12rem] mt-6"
          />
            -->
        </div>
      </div>
    </div>
  </div>
</div>
