<div class="mt-12">


  <div class="container px-8 mx-auto">
    <h3>Über uns</h3>
  </div>

    <div class="flex flex-col md:flex-row md:items-center md:justify-start bg-slate-50">
      <div class="flex justify-center md:max-w-lg 2xl:max-w-3xl md:overflow-hidden"><img src="img/ueber-uns-3.png" class="w-full md:w-auto md:h-full lg:w-[800px] object-cover max-w-none" /></div>

      <div class="container max-w-xl px-4 py-8 mx-auto md:mx-8 lg:mx-12">
        
        <h5 class="my-3 font-sans not-italic font-semibold text-grey-900">Individuelle und fürsorgliche Pflege für eine bessere Lebensqualität zu Hause</h5>
        <p class="max-w-2xl opacity-75 text-grey-900 text-container">{{.Content}}</p>
        <div class="">
            <!--
          <img
            src='{{"/img/unterschrift.png" | absURL }}'
            alt="Unterschriften"
            class="max-w-[12rem] mt-6"
          />
            -->
        </div>
      </div>
    </div>
  </div>
</div>
