{{ define "main" }}
<div class="pb-10 bg-cover lg:pb-0 bg-pg-green-100 md:bg-hero">
  <div
    class="w-full h-full from-pg-green-100 lg:visible lg:pb-10 lg:pb-24 bg-gradient-to-b lg:bg-gradient-to-r lg:from-gradient-green"
  >
    <div class="pt-40 lg:pt-48">
      <div class="container flex flex-col px-8 mx-auto">
        <div
          class="w-full h-64 bg-no-repeat bg-cover rounded-md shadow-xl md:hidden filter lg:w-2/3 lg:h-96 mb-7 bg-hero"
          alt="Pflegerin kümmert sich ambulant um eine Seniorin in deren eigenen Zuhause"
        ></div>
        <div class="max-w-lg lg:mr-8">
          <h1 class="pb-2 text-gradient-green lg:text-white">
            Liebevolle Pflege in den eigenen vier Wänden.
          </h1>
          <h4
            class="pb-4 font-normal text-gradient-green bg-opacity-60 lg:opacity-100 lg:text-white"
          >
            Wir sind ein ambulantes Pflegeteam, dass in Braunschweig Senioren in
            der Alltagsbewältigung im eigenen Zuhause unterstützt.
          </h4>
          {{partial "phone-btn.html"}}
          <div
            class="inline-flex flex-row items-center justify-between w-auto gap-4 px-5 py-3 mt-4 text-center align-middle rounded-md xl:gap-2 text-pg-green-900 md:text-white lg:w-auto md:backdrop-blur-lg md:backdrop-brightness-75 2xl:md:backdrop-filter-none"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="w-5 h-5"
            >
              <path
                d="M9.653 16.915l-.005-.003-.019-.01a20.759 20.759 0 01-1.162-.682 22.045 22.045 0 01-2.582-1.9C4.045 12.733 2 10.352 2 7.5a4.5 4.5 0 018-2.828A4.5 4.5 0 0118 7.5c0 2.852-2.044 5.233-3.885 6.82a22.049 22.049 0 01-3.744 2.582l-.019.01-.005.003h-.002a.739.739 0 01-.69.001l-.002-.001z"
              />
            </svg>

            <span class="font-serif italic font-normal lg:ml-4">
              Wir Pflegen Braunschweig seit 2010
            </span>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container px-5 mx-auto text-center">
  <h4 class="py-10 text-gray-700 xl:py-20">
    Als zugelassener Pflegedienst sind wir Partner aller
    <span
      class="font-medium text-gray-700 underline decoration-4 decoration-pg-green-700/50 underline-offset-4"
      >gesetzlichen</span
    >
    und
    <span
      class="font-medium text-gray-700 underline decoration-4 decoration-pg-green-700/50 underline-offset-4"
      >privaten</span
    >
    Krankenkassen
  </h4>
</div>

<div class="section">
  <div class="container px-8 mx-auto">
    <h3>Leistungen</h3>

    <div class="flex flex-row flex-wrap items-center justify-center">
      <!-- prettier-ignore -->
      {{range sort (where .Site.RegularPages "Section" "leistungen") ".Params.sort"}} {{partial "leistung.html" .}} {{end}}
    </div>
  </div>
</div>

{{ partial "pflegegebiet.html" . }}

<div class="section">
  <div class="container px-8 mx-auto">
    <h3>Wie unsere Pflege abläuft</h3>
    <!-- prettier-ignore -->
    <div class="flex flex-wrap justify-center gap-8 md:gap-12 xl:flex-nowrap">
    {{range where .Site.RegularPages "Section" "ablauf" }} {{partial "ablauf.html" .}} {{end}}
    </div>
  </div>
</div>
{{ partial "marketing-banner.html" . }} {{ partial "ueber_uns.html" . }}

<div class="section">
  <div class="container px-8 mx-auto">
    <h3>Häufig gestellte Fragen</h3>
    <!-- prettier-ignore -->
    {{range where .Site.RegularPages "Section" "faq" }} {{ partial "faq_element.html" . }} {{ end }}
  </div>
</div>
{{ end }}
