{{ define "main" }}
<div class="pb-10 bg-cover lg:pb-0 bg-pg-green-100 md:bg-hero">
  <div
    class="w-full h-full from-pg-green-100 lg:visible lg:pb-10 lg:pb-24 bg-gradient-to-b lg:bg-gradient-to-r lg:from-gradient-green"
  >
    <div class="pt-40 lg:pt-48">
      <div class="container flex flex-col px-8 mx-auto">
        <div
          class="w-full h-64 bg-no-repeat bg-cover rounded-md shadow-xl md:hidden filter lg:w-2/3 lg:h-96 mb-7 bg-hero"
          alt="Pflegerin kümmert sich ambulant um eine Seniorin in deren eigenen Zuhause"
        ></div>
        <div class="max-w-lg lg:mr-8">
          <h1 class="pb-2 text-gradient-green lg:text-white">
            Liebevolle Pflege in den eigenen vier Wänden.
          </h1>
          <h4
            class="pb-4 text-gradient-green bg-opacity-60 lg:opacity-100 lg:text-white"
          >
            Wir sind ein ambulantes Pflegeteam, dass in Braunschweig Senioren in
            der Alltagsbewältigung im eigenen Zuhause unterstützt.
          </h4>
          {{partial "phone-btn.html"}}
          <div
            class="inline-flex flex-row justify-between w-full px-5 py-3 mt-2 text-center align-middle rounded-md bg-pg-gray lg:w-auto"
          >
            <img class="h-7" src="/img/thumb.svg" />
            <p class="font-serif italic font-normal lg:ml-4 backdrop-blur-sm">
              >90 Zufriedene Patient*innen
            </p>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container px-5 mx-auto text-center">
  <h4 class="py-10 text-gray-700 xl:py-20">
    Als zugelassener Pflegedienst sind wir Partner aller
    <span
      class="font-medium text-gray-700 underline decoration-4 decoration-pg-green-700/50 underline-offset-4"
      >gesetzlichen</span
    >
    und
    <span
      class="font-medium text-gray-700 underline decoration-4 decoration-pg-green-700/50 underline-offset-4"
      >privaten</span
    >
    Krankenkassen
  </h4>
</div>

<div class="section">
  <div class="container px-8 mx-auto">
    <h3>Leistungen</h3>

    <div class="flex flex-row flex-wrap items-center justify-center">
      <!-- prettier-ignore -->
      {{range sort (where .Site.RegularPages "Section" "leistungen") ".Params.sort"}} {{partial "leistung.html" .}} {{end}}
    </div>
  </div>
</div>

{{ partial "pflegegebiet.html" . }}

<div class="section">
  <div class="container px-8 mx-auto">
    <h3>Wie unsere Pflege abläuft</h3>
    <!-- prettier-ignore -->
    <div class="flex flex-wrap justify-center gap-8 md:gap-12 xl:flex-nowrap">
    {{range where .Site.RegularPages "Section" "ablauf" }} {{partial "ablauf.html" .}} {{end}}
    </div>
  </div>
</div>

<div class="section">
  <div class="container px-8 mx-auto">
    <h3>Was unsere Kund*innen sagen</h3>

    <div
      class="flex flex-col items-center justify-center max-w-xl p-6 mx-auto my-4 text-center border-2 bg-green-gray border-grey-100"
    >
      <img
        src="img/quote-light.svg"
        class="w-12 my-4"
        alt="Kundenmeinung zum Pflegeteam Braunschweig"
      />
      <h6 class="font-sans text-xl italic font-normal opacity-75 text-grey-900">
        Ich bin so dankbar für das Pflegeteam Braunschweig. Sie haben meiner
        Mutter ermöglicht, in ihrem eigenen Zuhause zu bleiben, auch als ihre
        Gesundheit begann, nachzulassen. Das Pflegeteam ist<b
          class="font-semibold underline decoration-4 decoration-pg-green-500"
        >
          immer pünktlich und professionell</b
        >
        und nimmt sich wirklich Zeit für meine Mutter. Sie helfen ihr bei der
        Körperpflege und geben ihr ihre Medikamente. Sie sind immer freundlich
        und zuvorkommend und
        <b class="font-semibold underline decoration-4 decoration-pg-green-500"
          >meine Mutter fühlt sich wirklich geborgen und gut aufgehoben in ihrem
          eigenen Zuhause.</b
        >
        Ich würde das Pflegeteam jedem empfehlen, der Pflege zu Hause benötigt.
        Sie sind wirklich erstklassig.
      </h6>
      <p class="mt-4 text-sm font-bold tracking-wider uppercase text-grey-900">
        - Maja K.
      </p>
    </div>
  </div>
</div>

{{ partial "marketing-banner.html" . }} {{ partial "ueber_uns.html" . }}

<div class="section">
  <div class="container px-8 mx-auto">
    <h3>Häufig gestellte Fragen</h3>
    <!-- prettier-ignore -->
    {{range where .Site.RegularPages "Section" "faq" }} {{ partial "faq_element.html" . }} {{ end }}
  </div>
</div>
{{ end }}
